@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

//colors
$mainDarker: #fb878e;
$mainColor: #fb6095;
$yellowColor: #fbd680;
$accentYellow: #fbfd79;

//fonts
$mainFont: "Libre Franklin", sans-serif;

//paddings
$fullRem: 1rem;
$halfRem: 0.5rem;

//shadows
$yellowShadow: drop-shadow(3px 5px 5px #fbd680);
$textYellowShadow: 3px 5px 5px #fbd680;

$pinkShadow: 1px 3px 3px #fb878e;